datacenter = "{{ consul_datacenter }}"
data_dir = "{{ consul_data_dir }}"
log_level = "{{ consul_log_level }}"

server = false

bind_addr = "0.0.0.0"
advertise_addr = "{{ hostvars[inventory_hostname]['private_ip'] }}"
client_addr = "0.0.0.0"

{% if consul_encrypt_enable and consul_encrypt_key != "" %}
encrypt = "{{ consul_encrypt_key }}"
{% endif %}

retry_join = [
{% for host in groups['servers'] %}
  "{{ hostvars[host]['private_ip'] }}"{{ "," if not loop.last else "" }}
{% endfor %}
]

acl {
  enabled = {{ consul_acl_enabled | lower }}
  default_policy = "{{ consul_acl_default_policy }}"
  down_policy = "{{ consul_acl_down_policy }}"
  enable_token_persistence = true
}

ports {
  dns = {{ consul_port_dns }}
  http = {{ consul_port_http }}
  https = {{ consul_port_https }}
  grpc = {{ consul_port_grpc }}
  serf_lan = {{ consul_port_serf_lan }}
  serf_wan = {{ consul_port_serf_wan }}
}

connect {
  enabled = true
}