[Unit]
Description=Nomad Agent
Documentation=https://www.nomadproject.io/
Requires=network-online.target
After=network-online.target

[Service]
Type=exec
User={{ nomad_user }}
Group={{ nomad_group }}
ExecStart={{ nomad_bin_path }} agent -config={{ nomad_config_dir }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=2
StartLimitBurst=3
StartLimitInterval=10
LimitNOFILE=65536
LimitNPROC=infinity
TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target