datacenter = "{{ nomad_datacenter }}"
region     = "{{ nomad_region }}"
data_dir   = "{{ nomad_data_dir }}"

bind_addr = "0.0.0.0"

advertise {
  http = "{{ ansible_facts['default_ipv4']['address'] }}:4646"
  rpc  = "{{ ansible_facts['default_ipv4']['address'] }}:4647"
  serf = "{{ ansible_facts['default_ipv4']['address'] }}:4648"
}

server {
  enabled          = true
  bootstrap_expect = {{ nomad_server_bootstrap_expect }}

  server_join {
    retry_join = [
{% for host in groups['servers'] %}
      "{{ hostvars[host]['private_ip'] }}"{{ "," if not loop.last else "" }}
{% endfor %}
    ]
  }
}

client {
  enabled = false
}

acl {
  enabled = {{ nomad_acl_enabled | lower }}
}

consul {
  address             = "{{ nomad_consul_address }}"
  server_service_name = "{{ nomad_consul_server_service_name }}"
  server_auto_join    = {{ nomad_consul_server_auto_join | lower }}
  auto_advertise      = {{ nomad_consul_auto_advertise | lower }}
}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
}